#game {
    display: grid;
    grid-template-areas:
        "inventory work-table"
        "actions actions";
        grid-template-rows: 1fr 80px;
        grid-template-columns: 160px 1fr;
}

#inventory {
    grid-area: inventory;
}

#work-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

.drop-zone {
    min-height: 100px;
    border: 2px dashed #777;
}

#actions {
    grid-area: actions;
}

.inventory-item {
    padding: 15px;
    margin: 1px;
    border: 1px solid black;
    cursor:grab;
}
.inventory-item:active {
    cursor:grabbing;
}

.installed-item {
    padding: 10px;
    margin: 1px solid black;
    margin-top: 10px;
}

#feedback {
    display: none;
}

#feedback.feedback-success,
#feedback.feedback-error,
#feedback.feedback-info {
    display: block;
}

#feedback.feedback-success {
    color: green;
}

#feedback.feedback-error {
    color: red;
}

#feedback.feedback-info {
    color: blue;
}