:root {
    --header-bgcolor: #798897;
    --header-items-gbcolor: #eff2f5;
    --header-divider-color: #9fadba;
    --header-text-color: #2e3c49;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: ; */ /* TODO: definir cor de fundo site */
}

.index-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--header-bgcolor);
    padding: 10px;
    text-transform: capitalize;

    .left-side {
        display: inherit;
        align-items: center;
        gap: 5px;

        .logo-and-name {
            display: inherit;
            align-items: center;
            gap: 5px;

            >img,
            a {
                text-decoration: unset;
                color: var(--header-textcolor);
                padding: 5px;
                background-color: var(--header-items-gbcolor);
                border-radius: 5px;
            }
        }

        .vertical-divider {
            height: 100%;
            border-left: 2px solid var(--header-divider-color);
            margin: 0 1px;
        }

        .pages {
            a {
                text-decoration: none;
                color: var(--header-textcolor);
                padding: 5px;
                background-color: var(--header-items-gbcolor);
                border-radius: 5px;
            }
        }
    }

    .right-side {
        display: inherit;
        align-items: center;

        .login {
            text-decoration: none;
            color: var(--header-textcolor);
            padding: 5px;
            background-color: var(--header-items-gbcolor);
            border-radius: 5px;
        }
    }
}

.index-main {

    .hero-img {
        user-select: none;
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        margin: 30px;
        gap: 15px;

        .game-section {
            display: inherit;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            gap: 5px;

            video {
                background-color: #2e3c49;
            }
        }

        .play-now-btn {
            all: unset;
            cursor: pointer;
            text-transform: uppercase;
            color: #eff2f5;
            background-color:teal;
            border-radius: 10px;
            padding: 10px;
        }

        .updates {
            display: flex;
            gap: 15px;
            flex-direction: column;

            .update-view {
                display: inherit;
                gap: 10px;
                overflow-x: scroll;
                scroll-behavior: smooth;
                scrollbar-width: none; /* hide scroolbar*/

                .update_template {

                    .update_template_img {
                        width: 15rem;
                    }
                    .update_template_date_upload {
                        font-size: 0.7rem;
                    }

                    .update_template_paragraph {
                        font-size:0.9rem
                    }
                }
            }
        }
    }
}

footer {
    margin: 10px;
    border: 1px solid black;
    padding: 5px;

    h3 {
        background-color: var(--header-items-gbcolor);
        color: var(--header-textcolor);
        padding: 5px;
        border-radius: 5px;
        width: fit-content;
    }

    .horizontal-divisor {
        height: 100%;
        border-bottom: 2px solid var(--header-divider-color);
        margin: 5px 0;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 10px;

        strong {
            font-size: large;

        }

        .col-about-us,
        .col-contribute,
        .col-contacts {
            display: flex;
            flex-direction: column;
            padding: 0 10px;

            a {
                all: unset;
                cursor: pointer;
                width: fit-content;
                color: var(--header-bgcolor);
            }
        }
    }
}